@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, rgb(255, 234, 251), rgb(255, 237, 237));
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif, Arial;
}

header {
    grid-area: header;
    padding: 20px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav{
    display: flex;
    align-items: center;
    gap: 15px;
}

header nav a{
    color: black;
    text-decoration: none;
}

header nav .small-margin-seperator{
    margin-left: 15px;
}

header nav .authenticate-anchor-tags{
    font-size: 1.1em;
}

header nav .sign-out-element{
    display: none;
}

header .logo {
    color: transparent;
    background: linear-gradient(90deg, rgb(20, 188, 255), dodgerblue);
    background-clip: text;
    font-size: 1.5em;
    font-weight: 600;
    text-decoration: none;
}

main {
    grid-area: main;
    align-items: center;
    justify-content: center;
}

main .features{
    height: 100%;
    width: 100%;
    padding: 30px 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

main .features div{
    background: rgba(135, 207, 235, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: .4s;
    cursor: pointer;
    user-select: none;
}

main .features div:hover{
    background: rgba(135, 207, 235, 0.8);
}

main .features ion-icon{
    font-size: 5em;
}

main .features .register{
    background: rgb(255, 207, 247);
}

main .features .register:hover{
    background: rgba(255, 141, 208, 0.526);
}

main .features .login{
    background: rgba(255, 255, 64, 0.492);
}

main .features .login:hover{
    background: rgba(255, 255, 64, 0.82);
}

main .features .sign-out{
    background: rgba(255, 0, 0, 0.1);
}

main .features .sign-out:hover{
    background: rgba(255, 0, 0, 0.2);
}

main .features p{
    margin-top: 10px;
    font-size: 2em;
}

footer {
    grid-area: footer;
    padding: 20px 30px;
    text-align: right;
}
